<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  </head>

  <body>
      
      
      
      
    <%= yield %>
<% if current_user %>
  <div class="text-center"><p><%= current_user.email %></p>
      <p><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></p>
      <p><%= link_to "Change your password", 'users/edit' %></a></p>
              <% if current_page?('/users/edit') %>
                  <p><%= link_to 'Home', '../' %></p>
              <% end %>
        <% if current_user.try(:admin?) %>
              <p><%= link_to 'Users', users_path %></p>
              <% if current_page?('/users') %>
                  <p><%= link_to 'Home', '../' %></p>
              <% end %>
        <% end %>
  </div>
<% end %>

  </body>
</html>
